/*----
/*共通
----*/
body {
  margin:70px 100px;
  background-color: #eedcb3;
}
.wrapper {
  background-color: #fff;
  height: 700px;
  border-radius: 20px;
}
h1 {
  font-size: 26px;
  margin-bottom: 24px;
  padding-top: 50px;
  text-align: center;
  line-height: 1.5;
}
h1 span {
  color:#EDA6C4;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 20px;
}
p{
  font-size: 18px;
}

/*----
/*fortune.html
----*/
.fortune_wrapper {	
  width: 400px;
  margin: 0 auto;
  padding: 20px 50px 60px;
  border-left: 20px solid #EDA6C4;
  box-shadow: 3px 3px #ccc;
}
input:first-of-type {
  height: 24px;
  width: 250px;
}
input:last-of-type {
  color: #fff;
  background: #EDA6C4;
  border:none;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 1px 1px #ccc;
}
input:last-of-type:hover {
  opacity: 0.8;
}

/*----
/*fortune-response.html
----*/
.result_wrapper {
  width: 400px;
  margin: 0 auto;
  padding: 20px 50px;
  border-left: 20px solid #9AB4ED;
  box-shadow: 3px 3px #ccc;
}
.title span {
  color:#9AB4ED;
}
.result_title {
  border-bottom: 3px solid #9AB4ED;
}
.result {
  display: flex;
  height: 40px;
}
.result:last-child {
  margin-bottom: 40px;
}
.result p:last-child {
  color:#ffa500;
}
.back_button {
  display: block;
  width: 400px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  background-color: #586FA1;
  text-decoration: none;
  margin: 50px auto;
  padding: 10px 20px;
}
.back_button:hover {
  opacity: 0.8;
}

